<%- include("../../partials/header"); %>

<div class="root">
    <div class="header">
        <h1>Thank For Using</h1>
        <h1>Ta-ta Bye bye</h1>
    </div>
</div>

<%- include("../../partials/footer"); %>