<%- include("../../partials/header"); %>

<div class="root">
    <div class="header">
        <h1>Let's Add Cash</h1>
        <% if (data.invalid_amount === true) { %>
            <h3>Invalid Amount</h3>
        <% }  %>
    </div>
    <div class="form">
        <form action="/deposit_amount" method="POST">
            <input type="number" class="amount" placeholder="Enter the amount you want to deposit" name="amount">
            <input type="submit" class="btn">
        </form>
    </div>
</div>

<%- include("../../partials/footer"); %>